@media (max-width:768px) {
    // Utility Classes

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.txt-small {
    font-size: 12px;
}

.display-1 {
    font-size: 4rem;
}

.display-2 {
    font-size: 4rem;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 15px 25px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background: $secondary-color;
    color: $main-color;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.logo span {
    font-weight: 300;
}

.flex, .flex-fixed {
    display: flex;
}

.flex-box {
    flex: 1;
}

//Mainheader

.mainheader {
    background: $gray-color;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vh;
        height: 80vh;
        top: 0;
        background: $main-color;
        border-radius: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) scale(4);
    }
    &-content {
        position: relative;
        z-index: 1;
        text-align: center;
        .navbar {
            padding-top: 50px;
            a {
                color: #fff;
            }
            .flex-fixed {
                justify-content: space-between;
            }
            .txt-link {
                margin-top: 7px;
                border-bottom: 2px solid $secondary-color;
            }
        } // End .navbar
        .showcase {
            padding-top: 80px;
            padding-bottom: 50px;
            //text-align: centre;
            color: #fff;
            span {
                border-bottom: 3px solid $secondary-color;
            }
            h1 {
                margin-bottom: 20px;
            }
            img {
                margin-top: 60px;
            }
        }
    } // End &-content
} // End .mainheader
// Features
.features {
    padding-top: 40px;
    padding-bottom: 90px;
    background: $gray-color;
    border-bottom-left-radius: 50% 35%;
    border-bottom-right-radius: 50% 35%;
    .flex-box {
        margin: 20px;
        text-align: center;
        .txrt-number span {
            font-size: 20px;
            border: 1px solid #000;
            padding: 10px 17px;
            border-radius: 50%;
        }
        h4 {
            padding: 20px 0;
        }
        
    } // End .flex-box
} // End .features
// cta
#cta {
    padding: 50px 0;
    img {
        display: block;
        margin: 0 auto;
    }
    .cta-text {
        margin-top: 40px;
    }
 } // End cta

} 