@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('hhtss://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$main-color: #20073b;
$secondary-color: #82fca9;
$gray-color: #f9f9f9;
$font-stack: "Montserrat", sans-serif;
$font-header: 'DM Serif', sans-serif;

//Reset 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Main Styling

html, body {
    font-family: $font-stack;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2.5rem;
}

h1, h2, h4 {
    font-family: $font-header;
}

p {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

// Utility Classes

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.txt-small {
    font-size: 12px;
}

.display-1 {
    font-size: 4rem;
}

.display-2 {
    font-size: 4rem;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 15px 25px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background: $secondary-color;
    color: $main-color;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.logo span {
    font-weight: 300;
}

.flex, .flex-fixed {
    display: flex;
}

.flex-box {
    flex: 1;
}

//Mainheader

.mainheader {
    background: $gray-color;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vh;
        height: 80vh;
        top: 0;
        background: $main-color;
        border-radius: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) scale(4);
    }
    &-content {
        position: relative;
        z-index: 1;
        text-align: center;
        .navbar {
            padding-top: 50px;
            a {
                color: #fff;
            }
        }
    }
} // End .mainheader